/*HEADER/FOOTER & HTML*/
*, *:before, *:after {
   box-sizing: inherit;
   font-size: 4.5vh;
}
header, footer {
	width: 100%;
	max-width: 100%;
	height: 15%;
	max-height: 10%;
	display: flex;
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	align-items: center;
}
.display-none {
	display: none;
}
.red {
	color: red;
}
header {
	position: fixed;
	justify-content: center;
	top: 0;
	left: 0;
	text-align: center;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
}
header h1 {
	margin: 0;
	margin-left: 5%;
}
#main-nav {
	position: fixed;
	top: 10%;
	left: 0%;
	width: 100%;
	max-width: 100%;
	height: 80%;
	max-height: 80%;
	background-color: #ededed;/*#e0b816;*/
}
#main-nav ul {
	list-style: none;
	text-align: center;
	padding-left: 2%;
	margin-right: 2%;
	margin-top: 0;
}
#main-nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 4vh;
}
#main-nav ul li {
	margin-bottom: calc((20vh / 5) / 2);
	margin-top: calc((30vh / 5) / 2);
}
#main-nav ul li:after {
	content: "";
	display: block;
	width: 25%;
	height: 2px;
	background-color: black;
	margin: auto;
	margin-top: calc((30vh / 5) / 2);
}
#header-menu:after {
	width: 100% !important;
	max-width: 100% !important;
	margin-bottom: 4vh !important;
}
#header-menu {
	font-weight: bold;
	color: black;
}
#ham {
	position: absolute;
	top: 4vh;
	left: 5%;
}
html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#footer-nav {
	display: flex;
	margin-left: 2%
}
#footer-nav a {
	margin-right: 60%;
}
small {
	position: absolute;
	right: 2%;
	font-size: 2.25vh;
}
i {
	color: white;
}
p {
	margin: 0;
}
main {
	position: absolute;
	z-index: -1;
	top: 10%;
	left: 0;
	width: 100%;
	max-width: 100%;
	padding-bottom: 10vh; 
	background-color: white;
}
.flex {
	display: flex;
}
fieldset, #sugg-main article {
	box-shadow: 5px 5px 10px black !important;
}
img {
	box-shadow: 6px 6px 10px black !important;	
}
p {
	font-size: 3.25vh !important;
}
input {
	border: solid black 1px !important;
}
/*INDEX.HTML*/
#index-img1 {
	width: 100%;
	max-width: 100%;
	height: 40%;
	max-height: 40%;
	margin: 5vh 0 5vh 0;
	border-radius: 10px;
	box-shadow: 5px 5px 10px black;
}
#index-h2 {
	font-size: 3.75vh;
	text-align: center;
	margin: 0;
	margin-top: 5vh;
	text-decoration: underline;
}
#index-BG img {
	width: 30%;
	max-width: 30%;
	height: 50%;
	max-height: 50%;
	margin: 2vh 5% 3vh 0;
	border-radius: 50%;
}
#index-BG h2 {
	font-size: 3.75vh;
	text-align: center;
	text-decoration: underline;
}
article h3 {
	font-size: 3.5vh;
	margin-bottom: 0;
}
article p {
	font-size: 3.25vh;
}
article {
	width: 90%;
	max-width: 90%;
	margin: auto;
	margin-bottom: 10vh;
}
article:after {
	content: "";
	display: block;
	background-color: black;
	width: 40%;
	height: 2px;
	margin: auto;
	margin-top: 5vh;
}
.flex {
	align-items: center;
}
#index-section1 {
	border-bottom: solid black 1px;
	width: 80%;
	max-width: 80%;
	margin-left: 10%;
}
#index-BG {
	width: 80%;
	max-width: 80%;
	margin-left: 10%;
}

/*CONTACT*/
#contact-message {
	font-size: 3.5vh;
	width: 100%;
	max-width: 100%;
	height: 40vh;
	margin-bottom: 2vh;
	margin-top: 2vh;
	border: solid black 1px;
}
#contact-form {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 80%;
	margin: auto;
	margin-top: 4vh;
}
#contact-form fieldset {
	border-left: 1px solid black;
}
#contact-i1, #contact-i2 {
	font-size: 3.5vh;
	width: 50%;
	margin-bottom: 2vh;
	margin-top: 2vh;
	border: solid black 1px;
}
#contact-i4 {
	font-size: 3.5vh;
	width: 20%;
	margin-bottom: 2vh;
	margin-top: 2vh;
}
#contact-social a, #contact-social i {
	font-size: 3.5vh;
	color: black;
	text-decoration: none;
	margin-bottom: 2vh;
	margin-top: 2vh;
}
#contact-social a:hover {
	font-style: italic;
}
#contact-social {
	width: 80%;
	max-width: 80%;
	margin: auto;
	margin-top: 7vh;
	text-align: center;
	padding-bottom: 5vh;
}
#contact-social fieldset {
	border-left: 1px solid black;
	display: flex;
	flex-direction: column;
}
/*SUGGESTIONS*/
#sugg-main article {
	width: 80%;
	max-width: 80%;
	margin: 5vh 10% 5vh 10%;
	padding: 1vh 2% 1vh 2%;
	border: solid 1px black;
}
#sugg-main article:after {
	display: none;
}
#sugg-main article h2 {
	font-size: 4vh;
	margin: 0;

}
#sugg-main article p {
	width: 85%;
	margin: 2vh 0 2vh 15%;
	padding-left: 5%;
	border-left: 1px solid black;
	font-size: 3.5vh;
}
#sugg-form {
	font-size: 3.5vh;
	width: 80%;
	max-width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 6vh;
	margin-bottom: 6vh;
}
#sugg-form:before {
	content: "";
	display: block;
	width: 40%;
	height: 2px;
	background-color: black;
	margin: auto;
	margin-bottom: 6vh;
}
#sugg-form fieldset {
	border-left: 1px solid black;
	display: flex;
	flex-direction: column;
}
#sugg-form fieldset #sugg-message {
	border-left: 1px solid black;
	font-size: 3.5vh;
	width: 100%;
	max-width: 100%;
}
#sugg-form fieldset #sugg-i1, #sugg-form fieldset #sugg-i3 {
	margin-top: 3vh;
	margin-bottom: 3vh;
	font-size: 3.5vh;
}
#sugg-form fieldset #sugg-i1 {
	border-left: 1px solid black;
	width: 50%;
	max-width: 50;
}
/*ULYSSE && BEST*/
.ulysse-div {
	width: 80%;
	max-width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.ulysse-div img {
	width: 100%;
	max-width: 100%;
	border: solid black 1px;
}
.ulysse-div:after {
	content: "";
	display: block;
	background: black;
	width: 60%;
	height: 2px;
	margin: auto;
	margin-top: 10vh;
	margin-bottom: 8vh;
}
.ulysse-div h2 {
	font-size: 3.75vh;
}
#ulysse-h2 {
	text-decoration: underline;
	text-align: center;
	font-size: 4vh;
	margin-top: 4vh;
	margin-bottom: 10vh;
}