/*HEADER/FOOTER & HTML*/
*, *:before, *:after {
   box-sizing: inherit;
}
header, footer {
	width: 100%;
	max-width: 100%;
	height: 15%;
	max-height: 10%;
	display: flex;
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	align-items: center;
}
.display-none {
	display: none;
}
.red {
	color: red;
}
header {
	position: fixed;
	justify-content: center;
	top: 0;
	left: 0;
	text-align: center;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
}
header h1 {
	margin: 0;
}
#ham {
	position: absolute;
	top: 30%;
	left: 5%;
}
html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#footer-nav {
	display: flex;
	margin-left: 2%
}
#footer-nav a {
	margin-right: 60%;
}
small {
	position: absolute;
	right: 2%;
}
i {
	color: white;
}
p {
	margin: 0;
}
